<div>

<ul>
  <li *ngFor="let p of personnes; let num = index"  
      [ngClass]="{pair:num%2==0,impair:num%2==1}"
      (click)="selectionne(p)"
      [class.selected]="personne==p" >
      N°{{num+1}} - {{p.prenom}} {{p.nom}}
  </li>

</ul>


<h1>{{titre}} - Détail sur {{personne.nom}} {{personne.prenom}}</h1>
<h2>Scientifique
</h2>
<ul>
  <li (click)="clickSur($event)" ><b>Nom :</b> {{personne.nom}}</li>
  <li><b>Prenom :</b> {{personne.prenom}}</li>
</ul>

<h2>Détail</h2>
<ul>
  <li><b>Découverte :</b> {{personne.decouverte}}</li>
  <li><b>Description : </b>{{personne.description}}</li>
</ul>

<h2>Modification</h2>

<ul>
  <li>Nom : <input [(ngModel)]="personne.nom" /></li>
  <li>Prenom : <input [(ngModel)]="personne.prenom"/></li>
  <li>Découverte : <input [(ngModel)]="personne.decouverte" /></li>
  <li>Description : <textarea [(ngModel)]="personne.description" ></textarea> </li>

  
</ul>

<h2>POC</h2>

  {{toto}}
  {{hello}}
  {{ville}}
  <input type="checkbox" [(ngModel)]="toto"/>
  <input type="range" [(ngModel)]="hello" />
  <input [(ngModel)]="hello" />
  <select [(ngModel)]="ville" >
    <option value="34200">Sète</option>
    <option value="69000">Lyon</option>
    <option value="75000">Paris</option>
  </select>
</div>

