<!--The content below is only a placeholder and can be replaced.-->
<div class="champs container">
	<div class="row">
		<h3 class="col-md-12">
			Ajouter un lien 
		</h3>
		<label class="col-md-12" for="titre">Titre</label>
		<input class="col-md-12" name="titre" />
		<label class="col-md-12" for="lien">Lien</label>
		<input class="col-md-12" name="lien"/>
		<button  class="col-md-4 btn btn-info">Ajouter</button>
	</div>
</div>

<div class="container">
	<en3s-article></en3s-article>
	<en3s-article></en3s-article>
	<en3s-article></en3s-article>
</div>
	


